
/* Large Devices, Wide Screens */
@media (min-width : 992px) and (max-width : 1200px)
    /**/


/* Medium Devices, Desktops */
@media (min-width : 768px) and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media (min-width : 480px) and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media (min-width : 320px) and (max-width : 768px)
  body.b-mobile
    margin-top: 50px
    .dropdown-menu.custom
      left: inherit
      right: 0
      margin: 0
      border-radius: 0
    .auth
      float: right
      li.enter
        a.enter
          padding: 15px 10px
          color: #fff
          display: inline-block
    .navbar-form
      margin-top: 0
      .form-control
        border-radius: 2px
    #bs-example-navbar-collapse-1
      border: 0
    .navbar-nav
      li
        a
          color: #fff

    .navbar-fixed-top
      background-color: #416270
      .navbar-toggle
        margin-right: 0
        border: 0 !important
        .icon-bar
          background-color: #fff
      .navbar-header
        margin: 0
      .navbar-brand
        width: 35px
        padding: 10px 0
    .index-banner
      height: 210px
      -webkit-background-size: cover
      background-size: cover
      position: relative
      h1
        position: absolute
        font-size: 25px
        bottom: 5%
        left: 5%
        right: 5%
        color: #fff
    .search-city
      padding: 15px 0
      .form-control
        box-shadow: none!important
        border-radius: 2px
        color: #416270
        border: 1px solid #416270
      ul.nav-tabs
        margin: 15px 0
        text-align: center
        background: #416270
        border: 1px solid #416270
        li:last-child
          width: 20%
          border-right: 0
        li
          width: 40%
          border-right: 1px solid #2f4a55
          border-left: 0
          border-bottom: 0
          border-top: 0
          margin-bottom: 0
          a
            border: 0
            border-radius: 0
            margin: 0
            color: #fff
        li.active
          a
            color: #416270
      ul
        margin: 15px 0
        li
          margin-bottom: 10px
          h2
            margin-bottom: 5px
            a.title
              color: #416270
              font-size: 22px
          a
            color: #416270
            font-size: 14px
    footer
      padding: 15px 0
      font-size: 16px
      ul
        margin-bottom: 30px
        li
          margin-bottom: 8px
      .add_club, .add_trener
        display: block
        text-align: center
        margin-bottom: 20px
        border: 1px solid #fff
        border-radius: 4px
        color: #fff
        padding: 7px 25px

    //***mobile-inner pages***
    //***mobile-inner pages***
    //***mobile-inner pages***
    .total
      margin-top: 10px
      margin-bottom: 10px
    .trener-header
      h1
        margin-bottom: 15px
        font-size: 30px
      p
        margin-bottom: 15px
      img
        padding: 0 15px
        max-width: 100%
        display: block

    .trener-index-filter
      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd
      .nav.nav-tabs.mobile-filter-map
        border-top: 0
        border-bottom: 0
        li.dropdown
          padding: 15px 0
          .btn
            position: relative
            background: #416270
            text-decoration: none
            color: #fff
            margin: 10px 0
            border-radius: 3px
            display: inline-block
            padding: 13px 15px 13px 45px
            transition: .3s
            opacity: 1
            font-family: PragmaticaLightC-Bold
            outline: 0!important
            border: 0!important
            i.fa
              position: absolute
              left: 15px
              font-size: 19px
              top: 50%
              transform: translateY(-50%)
            &:focus
              background-color: #416270!important
              color: #fff!important
            &:active
              background-color: #2f4650!important
              color: #fff!important


      .selects
        .btn-group
          .multiselect.dropdown-toggle
            padding: 6px 14px
            border-radius: 3px
        .multiselect-container
          .form-control.multiselect-search
            display: block
            width: 100%
            height: 34px
            padding: 6px 12px
            font-size: 14px
            line-height: 1.42857143
            color: #555
            background-color: #fff
            background-image: none
            border: 1px solid #ccc
            border-radius: 4px
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
        .btn.btn-default.b-reset-filters.close-btn
          margin-left: -6px
          line-height: 20px
          padding: 6px 12px
          border-radius: 0 3px 3px 0
    .settings.-m
      margin-top: 20px

      .tab-content
        overflow: hidden
        div#list-map
          position: fixed
          right: 0
          left: 0
          width: 100%
          height: 100vh !important
          .map-category
            height: 74vh !important

        .tab-pane
          display: block!important
          visibility: hidden!important
          height: 0!important
        .active
          display: block!important
          visibility: visible!important
          height: auto!important

      .nav.nav-tabs.mobile-filter-map
        border-bottom: 0
        padding-top: 15px
        padding-bottom: 15px
        border-top: 1px solid #eaebf2
        border-bottom: 1px solid #eaebf2
        li
          a
            border: 1px solid #ddd
            max-height: 42px
            min-height: 42px
            margin: 0
            background-color: #416270
            &:focus
              background-color: #2f4650
            i
              color: #fff
              font-size: 20px
          &.mobile-trener-set-list
            width: 50px
            text-align: center
            a
              border-radius: 8px 0 0 8px
          &.mobile-trener-set-map
            width: 50px
            text-align: center
            a
              border-radius: 0 8px 8px 0
        li.active
          a
            color: #fff
            background-color: #416270
        .dropdown
          position: relative
          overflow: hidden
          display: block
          float: none !important
          padding-left: 30px
          &:before
            position: absolute
            content: ''
            top: 50%
            transform: translateY(-50%)
            right: 30px
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 5px solid #fff
            z-index: 2
          a
            padding-left: 10px
            border-radius: 8px
            width: 145px
            text-align: right
            padding-right: 35px
            &:focus
              background-color: #2f4650
            i
              position: absolute
              left: 23px
      form.search-form-select
        margin-top: 20px
        .pull-left
          margin: 0 10px 15px 0
          .multiselect-container.dropdown-menu
            max-width: 290px
            min-width: 290px
            max-height: 245px
            position: relative
            margin-top: 5px !important
            .multiselect-item.multiselect-filter
              .input-group
                width: 84%
            li
              padding: 0
              a
                label
                  padding: 0px 20px 0px 20px
                  input
                    margin: 0
      .mobile_tab
        .map-category
          margin-top: 20px
          .ymaps.ymaps-2-1-50-controls__control
            right: 0
        .b-units-list
          margin-top: 5px
          li
            padding-left: 0
            .img-wrapper
              width: 85px
              height: 90px
              border: 0
              border-radius: 0
            .title-wrapper
              overflow: hidden
              h2
                font-size: 20px
                margin-bottom: 3px
              p
                margin-bottom: 3px
                font-size: 14px
                line-height: 23px
              .rating-info
                margin: 0
                span.like
                  display: none
        .seemore
          text-align: center
    .treiner
      .container
        padding: 0 !important
      h3
        margin-top: 25px
        margin-bottom: 15px
        font-size: 30px
      ul
        li
          overflow: hidden
          padding: 15px 0
          border-bottom: 1px solid #e3e3e3
          .img-wrapper
            width: 35%
            height: 90px
            border: 0
            border-radius: 0
            float: left
            overflow: hidden
          .title-wrapper
            width: 65%
            overflow: hidden
            float: left
            h4
              font-size: 22px
              margin-bottom: 5px
            p
              margin-bottom: 3px
              font-size: 14px
    .discript
      p
        margin-top: 25px
    .slider
      height: 100%
      img
        width: 100%

    .call-back
      background: #fff
      padding-top: 15px
      padding-bottom: 15px
      position: relative
      box-shadow: 0 0 8px rgba(0,0,0,.15)
      z-index: 1
      overflow: hidden
      .title
        overflow: hidden
        border-bottom: 1px solid #e3e3e3
        padding-bottom: 20px
        margin-bottom: 20px
        h1
          color: #314d58
          margin-bottom: 10px
          font-size: 28px
        .otziv
          float: left !important
          font-size: 14px
          font-family: MuseoSansLight
          color: #9d9694
          line-height: 24px
        .rating-star-box
          height: 15px
          margin-top: 3px
          margin-left: 10px
          margin-right: 10px
          float: left
          .rating-symbol
            display: inline-block
            position: relative
            .glyphicon
              color: #ffca25
            //.glyphicon-star-empty:before
            //  content: "\e007"
        .like
          float: left
          font-size: 14px
          font-family: MuseoSansLight
          color: #9d9694
          line-height: 24px
        .heart
          display: inline-block
          background: url(../img/png/heart.png) 0 4px no-repeat
          background-size: 300%
          width: 18px
          height: 18px
          margin-left: 10px
          cursor: pointer
          transition: none!important
          text-decoration: none
      .number
        display: inline-block
        font-size: 16px
        margin-right: 10px
        color: #314d58

    .adress
      margin-top: 20px
      .b-filter_options_with_commas
        margin-bottom: 12px
        h4
          color: #314d58
          font-family: MuseoSansBold
        a
          color: #314d58
          font-family: MuseoSansLight
      .cover
        .address
          margin-bottom: 15px
          li
            margin-bottom: 10px
            color: #314d58
            font-family: MuseoSansLight
            span
              font-family: MuseoSansBold
            a
              color: #314d58
              border-bottom: 1px dashed #314d58
    .photo-gallery-med
      .content
        border: 0
        box-shadow: none
        h2
          color: #314d58
          font-size: 26px
          font-weight: 700
        .b-units-list
          overflow: hidden
          li
            width: 100% !important
            padding-left: 0
            margin-bottom: 0 !important

    .reviews
      .content
        border: 0
        box-shadow: none
        .dropping
          button
            font-size: 16px
            color: #fff
            background: #416270
            &:focus
              background: #2f4650
          .btn.write
            display: block
            margin-bottom: 5px
        .comments
          margin-top: 15px
          .like-dislike
            button
              margin-left: 0 !important
          li
            .cover
              margin-bottom: 0
        .well
          padding: 0
          .form-group
            margin-bottom: 10px
            textarea
              &:focus
                border-color: #416270
          .btn.btn-default
            border-color: transparent
            font-size: 16px
            color: #fff
            background: #416270
            margin-left: 10px
            &:focus
              background-color: #416270
    .accardion
      h5
        color: #314d58
        font-size: 26px
        font-weight: 700
        margin-bottom: 15px
    .slider-about
      margin: 15px auto
      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd
      padding: 15px 0
      h5
        color: #314d58
        font-size: 26px
        font-weight: 700
        margin-bottom: 15px
      .items
        h2
          font-size: 26px
        h3
          font-size: 20px
      //.owl-prev, .owl-next
      //  display: block !important
      //  width: 30px
      //  zoom: 0.6
      //.owl-prev
      //  left: 0
      //  background: url(../img/png/arrowleftd.png) center no-repeat
      //.owl-next
      //  right: 0
      //  background: url(../img/png/arrowrightd.png) center no-repeat
    .trener-info
      .human
        .b-units-list
          li
            padding: 15px 0
            .img-wrapper
              margin-right: 15px
              width: 105px
            .title-wrapper
              h2
                font-size: 21px
              .rating-info
                margin-top: 2px
        .seemore
          text-align: center
    .discript
      padding: 15px

    .slider.profil-trener
      padding-top: 30px
      overflow: hidden
      .item-no-image
        float: left
        width: 150px
        height: 150px
        border: 5px
        position: relative
        overflow: hidden
        img
          position: absolute
          top: -9999px
          right: -9999px
          bottom: -9999px
          left: -9999px
          margin: auto
      h3
        text-transform: capitalize
        font-size: 22px
        float: left
        color: #314d58
        width: calc(100% - 150px)
        padding-left: 15px
        font-weight: 700

    .mob-treners-special
      margin-bottom: 35px
      margin-top: 15px
      h2
        color: #314d58
        margin-bottom: 5px
        font-size: 28px
        font-weight: 700
        padding-top: 15px
      .mob-slider-special
        .owl-dots
          position: absolute
          display: block
          text-align: center
          bottom: -20px
          left: 0
          right: 0
          .owl-dot
            display: inline-block
            margin: 0 3px
            width: 13px
            height: 13px
            background-color: transparent
            border-radius: 50%
            border: 2px solid #385a67
            transition: .3s
          .owl-dot.active
            background: #385a67
        .owl-next, .owl-prev
          position: absolute
          width: 40px
          height: 55px
          margin-top: -27px
          top: 50%
          font-size: 0
        .owl-prev
          background: url(../img/png/arrowleftd.png) center no-repeat
          left: -45px
        .owl-next
          right: -45px
          background: url(../img/png/arrowrightd.png) center no-repeat
        .item
          overflow: hidden
          padding: 15px
          .link-to-one-special
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: 2
          .img-wrapper
            width: 165px
            height: 200px
            position: relative
            overflow: hidden
            box-shadow: inset 0 0 8px rgba(0,0,0,.15)
            img
              position: absolute
              margin: 0 auto
              top: -9999px
              bottom: -9999px
              right: -9999px
              left: -9999px
              max-width: 100%
          .title-wrapper
            max-width: 165px
            .name-special
              color: #314d58
              font-size: 16px
              cursor: pointer !important
              display: block
              margin-bottom: 5px
              max-height: 100%
            .rank-special
              font-size: 16px
              color: #000
              display: block
              margin-bottom: 10px
            .tel-special
              z-index: 3
              color: #fff
              background: #385a67
              border-radius: 4px
              display: block
              text-align: center
              letter-spacing: 1px
              padding: 10px 0
              font-size: 16px

    footer
      .col-md-1
        padding-top: 0
        a img
          width: 90px

/**/