.about-js
	margin-top: 20px
	margin-bottom: 15px
	h1
		text-align: center
		margin: 50px 0
		font-weight: 300
		color: #385a67
	.cover
		position: relative
		padding: 0 150px
		margin-bottom: 50px
		overflow: hidden
		.img-wrapper
			float: left
			img
		.title
			box-shadow: 0 0 8px rgba(0,0,0,.15)
			position: absolute
			width: 430px
			right: 320px
			background: #fff
			top: 14%
			padding: 30px
			p
				line-height: 28px
				font-size: 17px
				color: #385a67
			h2
				margin-bottom: 10px
				color: #385a67
	.des
		margin: 50px 0
		font-size: 17px
		color: #385a67
	.right
		.img-wrapper
			float: right
		.title
			right: inherit
			left: 150px
			width: 650px
			top: 5%