.autorization, .registrat, .restart-pass
	padding: 100px 0
	.col-md-4
		background-color: #fff
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		padding: 20px
		h2
			text-align: center
			font-weight: 300
			margin-bottom: 15px
		.checkboxes

			input
				position: relative
				margin-right: 5px
				float: left
				cursor: pointer
			input:before
				position: absolute
				width: 13px
				height: 13px
				background-color: #fff
				border: 1px solid #e3e3e3
				content: ''
				left: 0
				top: 0
			input:after
				position: absolute
				width: 12px
				height: 12px
				content: ''
				left: 0
				top: 0
			input:checked:after
				background: url(../img/co.png) 0 2px no-repeat
				background-size: 256%
			label
				font-weight: 300
				font-size: 11px
				cursor: pointer
		button
			width: 100%
		.b-login-forget
			text-align: center
			p
				margin-top: 10px
		.in-social
			margin-top: 15px
			text-align: center
			ul
				text-align: center
				margin-top: 10px
				li
					display: inline-block
					a
						display: block

