.ballon
	width: 300px
	overflow: hidden
	.left
		border-top-right-radius: 5px
		border-top-left-radius: 5px
		position: relative
		.img-wrapper
			width: 100%
			height: 180px
			position: relative
			overflow: hidden
			img
				position: absolute
				top: -9999px
				right: -9999px
				bottom: -9999px
				left: -9999px
				margin: auto
				display: block
				max-width: 100%
				min-width: 100%
		p
			position: absolute
			bottom: 10px
			left: 10px
			z-index: 1
			font-weight: 700
			color: #385a67
			a
				color: #385a67
	.right
		border-bottom-right-radius: 5px
		border-bottom-left-radius: 5px
		padding: 15px
		.title
			h2
				font-size: 20px
				color: #385a67
				margin-bottom: 10px
				overflow: hidden
				a
					font-size: 20px
					color: #385a67
			p.revies
				margin-bottom: 5px
				a
					color: #bbbcc4
					font-size: 14px
			ul
				li
				li.star
			p.city
				margin-bottom: 5px
				a
					color: #bbbcc4
					font-size: 14px
			p.phone
				margin-bottom: 10px
				a
					color: #385a67
					font-size: 14px
					font-weight: bold
			a.seemore
				display: block
				margin-bottom: 10px
				margin-top: 5px
				width: 100%
				color: #fff
				text-align: center
				font-weight: bold
				border-radius: 3px
				background-color: #385a67
				transition: 0.3s all
				&:hover
					background-color: #2b454e
.ymaps-2-1-53-balloon__close+.ymaps-2-1-53-balloon__content
	margin-right: 0 !important
	padding: 0 !important
.ymaps-2-1-53-balloon
	box-shadow: none !important
.ymaps-2-1-53-balloon__layout
	border-radius: 5px !important
.multiballoon
	ul
		margin: 5px 0
		height: 400px
		overflow: scroll
		li
			width: 300px
			overflow: hidden
			border-bottom: 1px solid #ccc
			padding: 5px 10px
			.img-wrapper
				border-radius: 50%
				border: 1px solid #ccc
				width: 50px
				height: 50px
				overflow: hidden
				position: relative
				float: left
				margin-right: 10px
				img
					position: absolute
					top: -9999px
					right: -9999px
					bottom: -9999px
					left: -9999px
					margin: auto
					display: block
					max-width: 100%
					min-width: 100%
			.title
				a
					font-size: 14px
					color: #385a67

					overflow: hidden