#back-profile
	margin: 10px 0
	padding: 5px 0
	a
		color: #385a67
.content-step.trener
	.content
		.bg-cover
			.col-md
				width: 25% !important
.content-step
	margin-top: 20px
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 0
		background-color: #fff
		.spet
		h1
			font-weight: bold
			color: #385a67
			margin-bottom: 30px
		#back-profile
			margin: 10px 0
			padding: 5px 0
			a
				color: #385a67
		.bg-cover
			overflow: hidden
			margin-bottom: 20px
			.col-md.active
				background-color: #385a67
				.arrow
					p
						color: #fff
					a
						color: #fff
			.col-md.step-success
				background-color: #385a67
				.arrow
					p
						color: #fff
					a
						color: #fff
			.col-md
				border: 1px solid #385a67
				padding: 10px
				width: 20%
				float: left
				.arrow
					p
						color: #385a67
					a
						color: #385a67
						
		.form-step-1
			.select2-selection.select2-selection--single
				height: 34px
				.select2-selection__rendered
					line-height: 34px
				.select2-selection__arrow
					height: 34px
					line-height: 34px

			.form-group
				label
				input
		.bottom-form-step-1
			margin-top: 50px
			#ymaps-map
				height: 300px!important
				width: 100% !important
		.button-next
			margin-bottom: 50px
		.-m-2
			h2
				color: #385a67
				font-weight: 300
				margin-bottom: 20px
			.nav-tabs
				margin-bottom: 20px
				border: 1px solid #385a67
				li:last-child
					border-bottom: 0!important
				li:hover
					background-color: #fff
					a
						background-color: #fff
						color: #385a67
				li
					border-bottom: 1px solid #385a67
					display: block
					width: 100%
					margin: 0
					background: #385a67
					a
						display: block
						border: 0
						margin: 0
						border-radius: 0
						color: #fff
				li.active
					background-color: #fff
					a
						color: #385a67
			.tab-content
				margin-bottom: 20px
				h3
					color: #385a67
					font-weight: 300
					margin-bottom: 20px
				.tab-pane
					overflow: hidden
					.control.control--checkbox
						position: relative
						display: block
						cursor: pointer
					input.checkbox
						display: none
					.control__indicator
						position: relative
						width: 13px
						height: 13px
						float: left
						margin-top: 3px
						margin-right: 5px
						&:before
							position: absolute
							width: 13px
							height: 13px
							background-color: #fff
							border: 1px solid #e3e3e3
							content: ''
							left: 0
							top: 0
					input.checkbox:checked + .control__indicator:before
						background: url(../img/co.png) 0 2px no-repeat
						background-size: 256%
		.-m-3
			h3
				margin-bottom: 20px
			.b-timepicker
				position: relative
				input
					padding-left: 25px
					position: relative
				.glyphicon-time
					left: 5px
					top: 10px
					position: absolute
			.control.control--checkbox
				position: relative
				display: block
				cursor: pointer
			input.checkbox
				display: none
			.control__indicator
				position: relative
				width: 13px
				height: 13px
				float: left
				margin-top: 3px
				margin-right: 5px
				&:before
					position: absolute
					width: 13px
					height: 13px
					background-color: #fff
					border: 1px solid #e3e3e3
					content: ''
					left: 0
					top: 0
			input.checkbox:checked + .control__indicator:before
				background: url(../img/co.png) 0 2px no-repeat
				background-size: 256%
			.radio-custom
				input
					display: none
				.control__indicator-radio
					position: relative
					width: 13px
					height: 13px
					float: left
					margin-top: 3px
					margin-right: 5px
					border-radius: 50%
					&:before
						position: absolute
						width: 13px
						height: 13px
						background-color: #fff
						border: 1px solid #e3e3e3
						content: ''
						left: 0
						top: 0
						border-radius: 50% !important
				label
				input:checked + .control__indicator-radio:before
					background: url(../img/co.png) 1px 2px no-repeat
					background-size: 210%
		.-m-4
			.imageUpload.big
				overflow: hidden
				img-wrapper.thumbnail
					cursor: pointer

				.fa-plus-circle
					
					position: absolute
					top: 50%
					margin-top: -22px
					left: 50%
					margin-left: -12px
					font-size: 30px
					color: #385a67
			.imageThumbnail
				position: relative
				width: 25%
				float: left
				padding: 0 15px
				.thumbnail
					height: 200px
					overflow: hidden
					position: relative
					img
						position: absolute
						top: -9999px
						bottom: -9999px
						right: -9999px
						left: -9999px
						margin: auto
						display: block
						max-width: 90%
					.imageRemove
						position: absolute
						top: 0
						right: 5px
						font-weight: 300
						font-size: 0
						&:before
							font-family: 'FontAwesome'
							content: '\f057'
							position: absolute
							right: 0
							top: 0
							font-size: 16px
							color: #385a67
				.fa-times-circle
					color: #385a67
			.imageBrowse
				cursor: pointer
				.button
					height: 200px
					border: 1px solid #ddd
					border-radius: 4px
					margin-bottom: 20px
					&:before
						position: absolute
						content: "\f055"
						font-family: fontawesome
						font-size: 30px
						left: 50%
						top: 50%
						margin-left: -4.5px
						margin-top: -33px
						color: #385a67
		.-m-5
		.spet.-m-5 h3
			color: #416270
			font-size: 24px
			margin-bottom: 30px


		.spet.-m-5 .item
			overflow: hidden
			margin-bottom: 40px


		.spet.-m-5 .img-wrapper
			width: 150px
			height: 150px
			overflow: hidden
			position: relative
			float: left


		.spet.-m-5 .img-wrapper img
			position: absolute
			top: -9999px
			bottom: -9999px
			left: -9999px
			right: -9999px
			margin: auto
			min-width: 90%
			max-width: 90%
			display: block


		.spet.-m-5 .col-md-6 h4, .spet.-m-5 .title h4
			font-size: 18px
			color: #416270
			margin-bottom: 8px
			position: relative

		.spet.-m-5 .col-md-6 h4, .spet.-m-5 .title h4, .spet.-m-5 .title h5
			font-family: MuseoSansBold
			margin-top: 0

		.spet.-m-5 .title
			width: 280px
			overflow: hidden
			margin-left: 20px
			float: left
			height: 150px
			position: relative


		.history-user .cover .report .breadcrumb li:last-child, .history-user .cover .reports ul.col-md-6 li p
			float: right


		.spet.-m-5 .title h4
			padding-bottom: 10px
			width: 75%


		.spet.-m-5 .col-md-6 .foot p
			color: #868f93
			font-family: MuseoSansBold
			font-size: 15px
			margin-bottom: 0


		.spet.-m-5 .col-md-6 .set a
			transition: .2s
			font-size: 20px
			font-weight: 700
			text-decoration: none !important


		.spet.-m-5 .col-md-6 .set a.glyphicon-plus
			color: #56b96e

		.spet.-m-5 .col-md-6 .set a.glyphicon-pencil
			color: #a8c945


		.spet.-m-5 .col-md-6 .set a.glyphicon-remove
			color: #c94545

		.spet.-m-5 .col-md-7.foot
			margin-right: 20px


		.spet.-m-5 .col-md-6 .foot
			padding-right: 5px
			padding-left: 5px


		.spet.-m-5 .col-md-6 .foot a
			color: #b9c4c9
			text-decoration: none
			transition: .2s
			font-size: 17px
			font-weight: 700


		.spet.-m-5 .title h4:before
			position: absolute
			left: 0
			bottom: 0
			width: 35px
			height: 2px
			content: ''
			background: #e4e8ea


		.spet.-m-5 .title h5
			font-size: 17px
			color: #868f93
			padding-bottom: 0
			margin-bottom: 10px
			width: 75%

		.spet.-m-5 .title p
			font-size: 14px
			color: #868f93
			font-family: MuseoSansRegular
			width: 75%

		.spet.-m-5 .title a.glyphicon-pencil
			position: absolute
			top: 0
			right: 30px
			color: #a8c945
			font-weight: 700
			font-size: 20px

		.spet.-m-5 .title a.glyphicon-remove
			position: absolute
			top: 0
			right: 0
			color: #c94545
			font-size: 20px
			font-weight: 700

		.spet.-m-5 .title a
			text-decoration: none !important
			transition: .2s

		.history-user .cover .pull-right a, .history-user ul.tab-unit li a
			text-decoration: none
			font-family: MuseoSansBold
			transition: .2s

		.spet.-m-5 .title a:hover
			opacity: .6


