.show-one-club.navbar-fixed-top
	position: fixed !important
	top: 0
	right: 0
	left: 0
.show-one-club
	background: rgba(56, 90, 103, 0.8)
	position: absolute
	right: 0
	left: 0
	z-index: 5
	.anjor-one-club
		text-align: left
		li
			display: inline-block
			a
				padding: 20px 25px
				display: inline-block
				color: #fff
.slider
	height: 700px
	overflow: hidden
	.owl-next
		position: absolute
		right: 20px
		background: url(../img/png/arrowright.png) center no-repeat
		width: 100px
		height: 55px
		margin-top: -27px
		top: 50%
		font-size: 0
	.owl-prev
		position: absolute
		background: url(../img/png/arrowleft.png) center no-repeat
		left: 20px
		width: 100px
		height: 55px
		margin-top: -27px
		top: 50%
		font-size: 0
.item-show
	margin-bottom: 15px
	.wrapper-margin-top
		margin-top: -100px
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		z-index: 1
		overflow: hidden
		.title
			overflow: hidden
			border-bottom: 1px solid #e3e3e3
			padding-bottom: 20px
			margin-bottom: 20px
			h1
				color: #314d58
				margin-bottom: 10px
			.otziv
				float: left
				font-size: 14px
				font-family: MuseoSansLight
				color: #9d9694
				line-height: 24px
			.rating-star-box
				height: 15px
				margin-top: 3px
				margin-left: 10px
				margin-right: 10px
				float: left
				.rating-symbol
					cursor: pointer
					.rating-symbol-background
						color: #ffca25
					.rating-symbol-foreground
						color: #ffca25
			.ratings
				float: left
				font-size: 14px
				font-family: MuseoSansLight
				color: #9d9694
				line-height: 24px
			.heart
				display: inline-block
				background: url(../img/png/heart.png) 0 4px no-repeat
				background-size: 300%
				width: 15px
				height: 18px
				margin-left: 10px
				cursor: pointer
				transition: none !important
			.heart:hover
				background: url(../img/png/heart.png) -15px 4px no-repeat
				background-size: 300%
			.heart.active
				background: url(../img/png/heart.png) -15px 4px no-repeat
				background-size: 300%
			.heart.active:hover
				background: url(../img/png/heart.png) -30px 4px no-repeat
				background-size: 300%
		.contact-show-one-blade
			overflow: hidden
			.left
				.b-textarea-ckeditor
					margin-bottom: 20px
					padding-bottom: 20px
					color: #314d58
					border-bottom: 1px solid #e3e3e3
				.filter-option-show-club
					margin-bottom: 15px
					h4
						color: #314d58
						font-family: MuseoSansBold
					a
						color: #314d58
						font-family: MuseoSansLight
			.right
				.number-club
					margin-bottom: 10px
					a
						display: inline-block
						font-size: 18px
						margin-right: 10px
						color: #314d58
						border-bottom: 2px dashed #314d58
						font-weight: 700
				.club-map
					height: 300px
					margin-bottom: 10px
				.form-inline.club
					margin-bottom: 10px
					.form-group
						width: 50%
						float: left
						margin-bottom: 10px
						.form-control
							width: 100%
							box-shadow: none
							color: #314d58
							border-radius: 3px
							&:focus
								border-color: #314d58
					button
						border-radius: 3px
						width: 100%
						background-color: #314d58
						color: #fff
						border-color: #314d58
						&:hover
							background-color: #fff
							color: #314d58
				.address
					ul
						li
							margin-bottom: 5px
							color: #314d58
							font-family: MuseoSansLight
							span
								font-family: MuseoSansBold
							a
								color: #314d58
								border-bottom: 1px dashed #314d58
				.services
					margin-top: 20px
					h3
						margin-bottom: 15px
						color: #314d58
						font-family: MuseoSansBold

					ul
						margin-bottom: 15px
						overflow: hidden
						li:hover
							.img-wrapper
								opacity: .7
						li
							width: 50%
							float: left
							margin-bottom: 15px
							position: relative

							a.url-one-units-service
								position: absolute
								top: 0
								bottom: 0
								right: 0
								left: 0
								z-index: 1
							.img-wrapper
								float: left
								width: 80px
								height: 80px
								overflow: hidden
								position: relative
								margin-right: 10px
								img
									position: absolute
									top: -9999px
									bottom: -9999px
									right: -9999px
									left: -9999px
									margin: auto
									display: block
									max-width: 100%
					.banner
						display: inline-block
						margin-bottom: 15px
			.banner-center
				margin-top: 50px
				text-align: center
				a
					display: inline-block
.free-show-club
	margin-top: 120px
	.wrapper-margin-top
		margin-top: 0
		.contact-show-one-blade
			.left
				.wrapper
					margin-bottom: 10px
					a
						display: block
					img
						width: 100%
				.address
					border-bottom: 1px solid #ccc
					padding-bottom: 15px
					margin-bottom: 15px
					ul
						li
							margin-bottom: 5px
							color: #314d58
							font-family: MuseoSansLight
							span
								font-family: MuseoSansBold
							a
								color: #314d58
								border-bottom: 1px dashed #314d58
				.shares
					h3
						color: #314d58
						font-family: MuseoSansBold
						margin-bottom: 15px
					ul
						overflow: hidden
						li
							width: 50%
							padding: 10px
							float: left
							margin-bottom: 15px
							position: relative
							a
								position: absolute
								top: 0
								bottom: 0
								right: 0
								left: 0
								z-index: 1
							img
								width: 100%
							h4
								color: #314d58
								font-family: MuseoSansBold
								margin-bottom: 5px
								margin-top: 5px
							h5
								color: #314d58
								font-family: MuseoSansBold
								margin-bottom: 6px
							p
								color: #314d58
								font-weight: 300


.price-list
	margin-bottom: 15px
	a.doc
		cursor: pointer
		display: inline-block
		border: 1px solid #314d58
		padding: 10px 15px
		color: #314d58
		margin-bottom: 4px
		&:hover
			background-color: #314d58
			color: #fff
			span
				color: #fff
	.content
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		h2
			color: #314d58
			margin-bottom: 20px
			font-size: 28px
			font-weight: bold

		.tabs
			margin-bottom: 15px
			border-bottom: 1px solid #e3e3e3
			padding-bottom: 20px
			ul
				li
					cursor: pointer
					display: inline-block
					border: 1px solid #314d58
					padding: 10px 15px
					color: #314d58
					margin-bottom: 4px
					&:hover
						background-color: #314d58
						color: #fff
				a
					cursor: pointer
					display: inline-block
					border: 1px solid #314d58
					padding: 10px 15px
					color: #314d58
					margin-bottom: 4px
					&:hover
						background-color: #314d58
						color: #fff
						span
							color: #fff
		.price_list_container
			margin-bottom: 15px
			border-bottom: 1px solid #e3e3e3
			padding-bottom: 20px
			ul
				li
					color: #314d58
					border: 2px solid #314d58
					margin: 5px
					padding: 10px 20px
					display: inline-block
					.title
						h4
							font-family: "MuseoSansBold"
						p
							font-family: "MuseoSansLight"


.specialist
	margin-bottom: 15px
	.content
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		h2
			margin-bottom: 10px
.action
	margin-bottom: 15px
	.content
		border: 2px solid #e3e3e3
		background: #fff
		padding: 15px
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		position: relative
		h2
			color: #314d58
			margin-bottom: 20px
			font-size: 28px
			font-weight: 700
		.dashed
			padding: 30px 40px
			border: 2px dashed
			margin: 0 20px
			position: relative
			z-index: 1
			position: relative
			//&:before
			//	position: absolute
			//	content: ''
			//	background: rgba( 0, 0, 0, 0.3)
			//	top: 0
			//	bottom: 0
			//	right: 0
			//	left: 0

			a
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				z-index: 2
				-webkit-background-size: cover !important
				background-size: cover !important

			h3
				color: #314d58
				margin-bottom: 5px
				position: relative
				z-index: 1
			h4
				color: #314d58
				margin-bottom: 6px
				position: relative
				z-index: 1
			p
				color: #314d58
				position: relative
				z-index: 1
		.owl-next, .owl-prev
			position: absolute
			width: 100px
			height: 55px
			margin-top: -27px
			top: 50%
			font-size: 0
		.owl-next
			right: -10px
			background: url(../img/png/arrowrightd.png) center no-repeat
		.owl-prev
			left: -10px
			background: url(../img/png/arrowleftd.png) center no-repeat

.reviews
	margin-bottom: 15px
	.content
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		h2
			color: #314d58
			margin-bottom: 20px
			font-size: 28px
			font-weight: bold
		form
			overflow: hidden
			.form-group
				textarea
					&:focus
						border-color: #314d58
		.comments
			li
				.cover
					padding-bottom: 20px
					border-bottom: 1px solid #ccc
					margin-bottom: 20px
					h3
						color: #314d58
						font-weight: bold
					span
						color: #314d58
						font-weight: 300
					p
						color: #314d58
						font-weight: 300
					.like-dislike
						margin: 5px 0
						a
							display: inline-block
							padding: 5px 20px
							border: 1px solid #98d14b
							color: #98d14b
							border-radius: 50px
						span
							display: inline-block
							margin: 0 5px
							color: #98d14b
						button
							padding: 5px 40px
							margin-left: 15px

				a
			li.no-reviews
				color: #314d58
		.dropping
			.active
				background: #334a54!important
			button
				opacity: 1 !important
