.map-body-club
	position: fixed
	width: 100%
	height: 100%
	top: 0
	bottom: 0
	left: 0
	right: 0
.filter-category-on-map
	width: 100%
	margin: 0 0 0 0
	position: relative
	z-index: 1
	.container-fluid
		padding: 15px

	.opacity
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)
		.col-md-7
		.discript
			h1
				margin-bottom: 20px
				color: #385a67
			h2
				margin-bottom: 5px
				color: #385a67
				line-height: 24px
				font-size: 16px
		.col-md-5

		.img-wrapper
			width: 100%
			a
				display: block
				img
					width: 100%

		.col-md-12
			margin-top: 30px
.club
	margin-bottom: 15px
	.col-md-5
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 0
		.top-line.sort-filters
			padding: 15px
			border-bottom: 1px solid #e3e3e3
			background: rgba(255, 255, 255, 0.9)
			.sort-form-select
				padding: 10px 0 0 0
				.not-expand
					.multiselect-container.dropdown-menu
						display: none !important
				.m-checked_li
					button
						background-color: #bac8ce
						color: #385a67