.contact
	margin-top: 20px
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background-color: #fff
	h1
		text-align: center
		margin-bottom: 15px
		font-weight: bold
		color: #385a67
	h3
		color: #385a67
		font-weight: 300
		margin-bottom: 10px
	ul
		margin-bottom: 20px
		li
			margin-bottom: 5px
			i
				color: #385a67

				width: 16px
				text-align: center
			span
				display: inline-block
				margin-left: 5px
				color: #385a67
				font-weight: 300

