.search-form-select, .sort-form-select
	.m-checked_li
		button
			background-color: #bac8ce!important
			color: #385a67
	.pull-left
		margin: 0 15px 15px 0
		span.multiselect-native-select
			.btn-group.open
				button
					line-height: 20px
					background-color: #bac8ce
					color: #fff
					border-color: transparent
					span
						color: #fff
			.btn-group
				button
					padding: 4px 12px
					box-shadow: none!important
					border-radius: 2px
					border-color: transparent
					background-color: #eaebf2
					&:hover
						background-color: #bac8ce
						color: #385a67
						span
							color: #385a67
					&:focus
						background-color: #bac8ce
						color: #385a67
						span
							color: #385a67
					span
						color: #385a67
					b
						margin-left: 5px !important
				ul.multiselect-container.dropdown-menu
					padding-bottom: 7px
					li.multiselect-item.multiselect-filter
						.input-group
							width: 90%
							margin: 10px auto
							span.input-group-addon
								display: none
							.form-control.multiselect-search
								line-height: 16px
								box-shadow: none!important
								&:focus
									border-color: #385a67
							span.input-group-btn
								display: none
								button
									&:hover
										border-color: #385a67
										background-color: #385a67
										i
											color: #fff
					li
						.checkbox
							position: relative
							input
								position: relative
								margin-left: 0!important
								margin-right: 5px!important
							input:before
								position: absolute
								width: 13px
								height: 13px
								background-color: #fff
								border: 1px solid #e3e3e3
								content: ''
								left: 0
								top: 0
							input:after
								position: absolute
								width: 12px
								height: 12px

								content: ''
								left: 0
								top: 0
							input:checked
								&:after

									background:  url(../img/co.png) 0px 2px no-repeat
									background-size: 256%
					li.active
						a
							background-color: #fff
							color: #333
					li.disabled
						cursor: not-allowed
						a
							color: #b9b9b9
							cursor: not-allowed
		.btn.btn-default.b-reset-filters.close-btn
			margin-left: -5px
			border-top-left-radius: 0
			border-bottom-left-radius: 0
			font-size: 0
			position: relative
			line-height: 16px
			background-color: #eaebf2
			outline: none!important
			border-color: transparent
			&:before
				position: absolute
				content: '×'
				top: 5px
				right: 7px
				font-size: 18px
	.pull-left:hover
		.btn.btn-default.b-reset-filters.close-btn
			background-color: #bac8ce
			color: #385a67