footer
	position: relative
	z-index: 10
	padding: 60px 0
	background: #385a67
	.col-md-1
		padding: 25px 20px
		a
			display: block
			border-bottom: 0
			&:hover
				img
					transform: scale(1.2)
			img
				transition: 0.3s

	p
		margin-bottom: 10px
	a
		display: inline-block
		color: #fff
		border-bottom: 1px solid transparent
		&:hover
			border-color: #fff
			color: #fff
		&:focus
			color: #fff
		img
			margin: 0 5px
	h6
		font-size: 20px
		color: #fff
		margin-bottom: 10px
