.about-human
	margin-bottom: 15px
	.description
		margin-bottom: 20px
		h4
			color: #314d58
			margin-bottom: 6px
			position: relative
			z-index: 1
		a
			color: #6eafc8
			&:hover
				text-decoration: underline !important
	.reklama
		text-align: center
		padding: 15px
		a
			display: inline-block
			img
				display: inline-block