header
  position: relative !important
header.home-header.navbar-fixed-top
  position: fixed !important
header.home-header
  position: absolute !important
header
  position: relative
  right: 0
  left: 0
  background-color: #416270
  z-index: 10
  box-shadow: 0 10px 35px -12px rgba(0, 0, 0, 0.75)
  .logo
    float: left
    overflow: hidden
    margin-right: 20px
    .navbar-brand
      height: 35px
      width: 35px
      margin: 5px
      padding: 0
  .dropdown
    border-left: 1px solid #416270
    margin: 0
    float: left
    width: 170px
    text-align: center
    .dropdown-toggle
      display: block
      padding: 15px 0
      color: #fff
      font-family: MuseoSansRegular
      .caret
        position: relative
        border: 0
        margin-left: 5px
        width: 10px
        height: 10px
        &:before
          position: absolute
          content: ''
          right: 0
          top: 0
          background: url(../img/top-header.png) no-repeat
          width: 6px
          height: 11px
          transform: rotate(90deg)
    .dropdown-menu
      background-color: #416270
      margin: 0
      border-radius: 0
      border: 0
      padding: 0
      width: 170px
      min-width: 170px
      li
        a
          padding: 6px 10px
          color: #fff
          font-size: 14px
          white-space: normal
      li:hover
        a
          color: #314d58
  .search
    border-left: 1px solid #416270
    overflow: hidden
    .input-group
      display: block !important
    input
      width: 100% !important
      font-family: MuseoSansRegular
      height: 50px
      border: 0
      padding-left: 45px
      background: url(../img/png/loops.png) 10px center no-repeat
      transition: 0.3s
      &:focus
        background-color: #fff
  .auth
    border-left: 1px solid #416270
    position: absolute
    right: 0
    top: 0
    text-align: center
    background: #416270
    z-index: 9
    bottom: 0

    .no-enter
      a
        font-family: MuseoSansRegular
        padding: 15px
        color: #fff !important
        display: inline-block
