.interesting-item
	margin-bottom: 15px
	.slider-blog
		position: relative
		&:before
			position: absolute
			content: ''
			bottom: 0
			right: 0
			left: 0
			height: 200px
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.62) 99%, rgba(0,0,0,0.63) 100%)
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.63) 100%)
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.63) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a1000000',GradientType=0 )
		img.img-wrapper
			width: 100%
		.title-wrapper
			position: absolute
			bottom: 20px
			right: 20px
			left: 20px
			text-align: center
			z-index: 1
			h1
				color: #fff
				font-weight: bold
				margin-top: 10px
			h2
				color: #fff
				font-weight: 300
				margin-top: 10px
			p
				margin-top: 10px
				color: #fff
				font-weight: 300
.interesting-item-discript
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background-color: #fff
	.dashed
		border: 2px dashed #385a67
		padding: 20px
		margin: 20px 0
		ul
			margin: 10px 0
			li
				margin-bottom: 5px
				color: #385a67
				font-weight: 300
				font-size: 17px
		p
			color: #385a67
			font-weight: 300
			font-size: 17px
	.category
		margin-bottom: 15px
		width: 50%
		float: left
		padding: 20px
		background-color: #fff
		.border:hover
			h4:before
				width: 100%
				height: 2px
		.border
			overflow: hidden
			border: 1px dashed #385a67
			position: relative
			a
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				z-index: 2
		.img-wrapper
			position: relative
			&:before
				position: absolute
				content: ''
				bottom: 0
				right: 0
				left: 0
				height: 200px
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.62) 99%, rgba(0,0,0,0.63) 100%)
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.63) 100%)
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.63) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a1000000',GradientType=0 )
			img
				width: 100%
			h4
				z-index: 1
				color: #fff
				font-weight: bold
				margin-bottom: 10px
				position: absolute
				right: 10px
				bottom: 10px
				display: inline-block
				padding-bottom: 4px
				&:before
					position: absolute
					bottom: 0
					right: 0

					width: 0
					height: 0
					background-color: #fff
					transition: 0.3s
					content: ''
		.discript
			padding: 20px
			h3
				font-weight: bold
				margin-bottom: 10px
				color: #385a67
				font-size: 18px
			p
				font-weight: 300
				color: #385a67

	.paper
		background-color: #fff