
ul, li, h1, h2, h3, h4, h5, h6, p, span, a, input, button, select, textarea, strong, i
  padding: 0
  margin: 0
  list-style: none !important
  text-decoration: none !important
  outline: none !important
  box-shadow: none
  transition: 0.3s
//Custom Styles Here
body
  font-family: "MuseoSansRegular"
  background-color: #fff

.banner-index
  padding: 160px 0 50px 0
  background-attachment: fixed



  @keyframes fade-up
    0%
      opacity: 0
    100%
      opacity: 1
  @keyframes fade-up2
    0%
      opacity: 0
    100%
      opacity: 1
  @keyframes fade-up3
    0%
      opacity: 0
    100%
      opacity: 1
  h1
    font-size: 55px
    line-height: 55px
    padding: 0 0 0 10px
    color: #fff
    margin-bottom: 20px
    animation: fade-up 1s linear

    span
      color: #91e724
      font-family: "MuseoSansMedium"
  p
    color: #fff
    position: relative
    padding-left: 15px
    margin-bottom: 5px
    font-size: 16px
    animation: fade-up2 2s linear

    &:before
      position: absolute
      content: ''
      left: 0
      top: 5px
      background: url(../img/top-header.png) no-repeat
      width: 6px
      height: 11px
  a
    animation: fade-up3 2s linear

.category-club-trener
  padding: 90px 0 60px 0
  h2
    text-align: center
    color: #385a67
    margin-bottom: 80px
  h3
    text-align: center
    margin: 60px 0 30px 0
    font-size: 30px
    color: #385a67
  .col-md-8
    .categori-option
      border-right: 1px solid #ccc
  .categori-option
    overflow: hidden
    .col-md-6, .col-md-12
      margin-bottom: 30px
      h4
        font-size: 20px
        font-weight: bold
        margin-bottom: 10px
        a
          color: #385a67
          padding: 0
          margin: 0
          font-size: 20px
          font-family: "MuseoSansMedium"
      a
        margin: 0 5px 5px 0
        font-size: 14px
        display: inline-block
        font-family: "MuseoSansRegular"
        border-bottom: 1px solid transparent
        color: #385a67
        &:hover
          border-color: #385a67

.paper
  padding: 60px 0
  background: #f6f6f6
  h2
    color: #385a67
    text-align: center
    margin: 0 0 30px 0
  #macy-container
    .grid-item:hover
      box-shadow: 0 0 25px 0 #ccc
    .grid-item
      background: #fff
      padding: 10px
      margin: 15px 15px 20px 15px
      box-shadow: 0 0 10px 0 #ccc
      transition: 0.3s
      a
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
      .img-wrapper
        width: 100%
        position: relative
        overflow: hidden
        img
          width: 100%
      h3
        font-size: 18px
        margin: 10px 0
        color: #385a67
        font-family: "MuseoSansMedium"
      p
        color: #385a67

.alert.alert-danger
  position: absolute
  left: 50%
  transform: translateX(-50%)
  font-size: 16px
  text-align: center


.del-modal-text-lk
  h4
    font-weight: 700
    color: #416270
  .close
    color: #416270
    opacity: 1

.del-modal-buttons-lk
  text-align: center
  padding-bottom: 15px !important
  .btn.btn-primary
    background-color: #416270
    border-color: #416270

.left-treners-block
  box-shadow: 0 0 8px rgba(0,0,0,.15)
  border: 2px solid #e3e3e3
  padding: 15px
  background: rgba(255,255,255,.9)
  overflow: hidden

.right-treners_block, .center-treners_block
  box-shadow: 0 0 8px rgba(0,0,0,.15)
  border: 2px solid #e3e3e3
  padding: 15px
  background: rgba(255,255,255,.9)
  overflow: hidden

.center-treners_block
  h2
    font-size: 20px
    margin-bottom: 15px
    font-weight: 700
  h3
    font-size: 16px
    margin-bottom: 15px
    font-weight: 700
  p
    line-height: 1.65
    font-size: 13px
    margin-bottom: 30px

form.form-inline.trener
  max-width: 460px
  float: right

.right-treners_block
  .more-treners-group
    overflow: hidden
    .treners-group-item
      overflow: hidden
      list-style-type: none
      position: relative
      border-bottom: 1px solid #e3e3e3
      margin-bottom: 10px
      padding: 10px
      &:hover
        background: #f5f5f5
      a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 2
      .img-wrapper
        width: 50px
        height: 50px
        overflow: hidden
        position: relative
        float: left
        img
          width: 100%
      .title-wrapper
        width: calc( 100% - 50px )
        padding-left: 20px
        float: left
        p
          color: #000

.photo-jobs
  margin-bottom: 15px
  .content
    padding: 15px
  h2
    color: #314d58
    margin-bottom: 20px
    font-size: 28px
    font-weight: 700
  .photo-jobs-block
    padding: 0 40px
  .owl-next, .owl-prev
    position: absolute
    width: 40px
    height: 55px
    margin-top: -27px
    top: 50%
    font-size: 0
  .owl-prev
    background: url(../img/png/arrowleftd.png) center no-repeat
    left: -45px
  .owl-next
    right: -45px
    background: url(../img/png/arrowrightd.png) center no-repeat

.treners-special
  margin-bottom: 15px
  .content
    padding: 0
  h2
    color: #314d58
    margin-bottom: 20px
    font-size: 28px
    font-weight: 700
    padding-top: 15px
    padding-left: 15px
  .item-one-special
    border-bottom: 1px solid #e3e3e3
    overflow: hidden
    padding: 15px
    .img-wrapper
      width: 130px
      height: 170px
      position: relative
      overflow: hidden
      float: left
      box-shadow: inset 0 0 8px rgba(0,0,0,.15)
      img
        position: absolute
        margin: 0 auto
        top: -9999px
        bottom: -9999px
        right: -9999px
        left: -9999px
        max-width: 100%
    .title-wrapper
      float: left
      padding-left: 20px
      .name-special
        color: #314d58
        font-size: 24px
        cursor: pointer !important
        display: block
        margin-bottom: 15px
        &:hover
          color: #337ab7
      .rank-special
        font-size: 16px
        color: #000
        display: block
        margin-bottom: 10px
      .review-info
        font-size: 14px
        border-bottom: 1px solid #fff
        transition: .3s
        color: #337ab7
        margin-bottom: 20px
        display: inline-block
        &:hover
          border-bottom-color: #385a67
          color: #385a67
      .tel-special
        border-bottom: 1px dashed
        &:hover
          border-bottom-color: #385a67
          color: #385a67

span.glyphicon.glyphicon-star
  font-size: 20px
.rating-symbol-background.glyphicon.glyphicon-star-empty
  font-size: 20px



//ALWAYS END
@import "media"
