.modal-dialog
	.modal-content
		.modal-header
			border: 0
			button
			h4
		.modal-body
			form
				textarea
					box-shadow: none!important
					&:focus
						border-color: #385a67
				.form-group
					select
						height: 40px
						-webkit-appearance: none
						-moz-appearance: none
						-ms-appearance: none
						appearance: none
						position: relative
						background: url(../img/png/ab.png) 97% center no-repeat
						box-shadow: none!important
						&:focus
							border-color: #385a67
					label
					input
						height: 40px
						box-shadow: none!important
						&:focus
							border-color: #385a67
		.modal-footer
			border: 0!important
			padding:  15px 0 0 0