.modal-dialog.action-modal
	width: 900px
	.modal-content
		padding: 20px
		.modal-header
			border: 0
			button
			h4

		.cover
			.img-wrapper
				margin-bottom: 20px
				img
					width: 100%
			.discript
				h3
					font-size: 44px
					font-weight: 300
					text-align: left
					color: #314d58
					margin-bottom: 10px
				p
					text-align: left
					font-size: 17px
					color: #314d58
					margin: 10px 0

			.address-wrapper
				margin-bottom: 10px
				text-align: left
				.address
					color: #314d58
				h3
					color: #314d58
					margin-bottom: 20px
					font-size: 18px
					span
						color: #314d58
					em
				a.tel
					display: inline-block
					padding: 10px 20px
					color: #fff
					background-color: #314d58
					margin-bottom: 20px
					margin-top: 10px
					span
						display: inline-block
						margin-right: 5px
				.gray
					color: #999
					margin-top: 5px
					display: inline-block
			.maps
				height: 200px
		.modal-footer
			border: 0!important
			padding:  15px 0 0 0