.modal-dialog.select-change
	.modal-content
		overflow: hidden
	.custom-btn
		margin-right: 20px
	.ms-container
		width: 100% !important
		padding: 20px
		.search-input
			padding: 5px 10px
			margin: 20px 0
			width: 100%
		.ms-elem-selectable
		.ms-elem-selectable.ms-hover
			background-color: #ccc !important
			span
				color: #fff