.history-user
	margin-top: 20px
	margin-bottom: 15px
	min-height: calc( 100vh - 325px )
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 0
		background-color: #fff
	h3
		font-family: MuseoSansBold
		color: #385a67
		font-size: 20px
		margin-bottom: 5px
		margin-top: 5px
	.add-club
		color: #fff
		font-weight: 300
		display: inline-block
		background: #385a67
		padding: 5px 15px
		border-radius: 3px
		margin-bottom: 20px
		&:hover
			background-color: #29414a
	.tab-unit
		margin-bottom: 20px
		overflow: hidden
		background-color: #314d58
		li:hover
			a

				border-color: #385a67
				background-color: #fff
				color: #314d58
				i
					color: #314d58
		li
			width: 33.33%
			float: left
			a
				padding: 20px
				display: block
				border: 2px solid transparent
				border-right: 0
				color: #fff
				background-color: #314d58

				i
					color: #fff
					display: inline-block
					margin-right: 5px
		li.active

			a
				background-color: #fff !important
				color: #314d58 !important
				border-color: #385a67
				i
					color: #314d58 !important
		li:last-child
			a
				border-right: 2px solid #385a67
	.reports
		overflow: hidden
		.breadcrumb
			border-radius: 0
			margin-bottom: 50px
			background-color: #385a67
			li
				color: #fff
				a
					color: #fff
			li.active
				color: #ccc
				a
					color: #ccc

		.col-md-6
			margin-bottom: 20px
		.title-report

			h3
				margin-bottom: 15px
		.item-report
			overflow: hidden
			margin-bottom: 5px
			a
				margin: 0
				float: left
			span
				float: left
				width: 270px
				padding: 13px 0
	.call-back
		padding-bottom: 20px
		.col-md-6 
		.item
			padding: 20px 10px
			background-color: #385a67
			margin-bottom: 10px
			h6
				margin-bottom: 5px
				color: #fff
				font-size: 20px
			p
				font-size: 16px
				color: #fff
		.form-group
			margin-bottom: 0
			.form-control

				border-radius: 0
	.reviews
		ul
			li
				margin-bottom: 40px
				h6
					font-weight: bold
					color: #385a67
					margin-bottom: 10px
					font-size: 20px
				a
					.badge
						color: #fff !important
						background-color: #385a67 !important
					span
						color: #385a67
						font-weight: 300
	.payment
		overflow: hidden
		padding-bottom: 20px
		.your-payment
			overflow: hidden
			border-bottom: 1px solid #a9bdc4
			padding-bottom: 20px
			margin-bottom: 20px
			p
				margin-bottom: 5px
			h6
				font-size: 20px
				color: #314d58
				font-weight: bold
.modal-dialog.history-user-reviews-modal
	width: 1000px
	.modal-content
		padding: 20px
		h2
			margin-bottom: 20px
			font-weight: bold
			color: #385a67
		.close
		.well
			overflow: hidden
		.under-comments
			margin-top: 20px