.searched
	margin-top: 20px
	margin-bottom: 20px
	h2.title
		padding-top: 20px
		margin-bottom: 50px
		font-family: MuseoSansLight
		color: #385a67
		padding-left: 20px
	h3
		padding-left: 10px
	.cover
		border: 2px solid #e3e3e3
		background: #fff
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		z-index: 1
		overflow: hidden