section.trener


	.content
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
	.form-inline.trener
		margin-bottom: 10px
		p
			font-size: 18px
			font-weight: 300
			margin-bottom: 10px
		.form-group
			width: 50%
			float: left
			margin-bottom: 10px
			.form-control
				width: 100%
				box-shadow: none
				color: #314d58
				border-radius: 3px
				&:focus
					border-color: #314d58
		button
			border-radius: 3px
			width: 100%
			background-color: #314d58
			color: #fff
			border-color: #314d58
			&:hover
				background-color: #fff
				color: #314d58
	.container-fluid
		padding: 15px
	.content
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)
		.left
			.discript
				h1
					margin-bottom: 20px
					color: #385a67
				h2
					margin-bottom: 25px
					color: #385a67
					line-height: 24px
					font-size: 16px
.trener-ankets
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)