section.trener-show
	margin-bottom: 15px
	.content
		border: 2px solid #e3e3e3
		background: rgba(255,255,255,1)
		padding: 15px
		position: relative
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		overflow: inherit!important
	.container-fluid
		padding: 15px 15px 0 15px
	.title
		h2
            font-weight: 400
            color: #385a67
            margin-bottom: 20px
            font-size: 34px
            line-height: 26px
	.rating-star-box
		display: inline-block
		overflow: hidden
		margin-bottom: 5px
		margin-left: 20px
		margin-top: 4px
		float: left
		a
			float: left
			font-size: 16px
			font-family: MuseoSansLight
			color: #9d9694
			line-height: 24px
			margin-left: 5px
		.otziv
			margin-left: 15px
		.stars
			margin: 0 5px
			float: left
	.rating-symbol
		cursor: pointer
		.rating-symbol-foreground
			color: #ffca25
		.glyphicon-star-empty
			color: #ffca25
	.call-back-trener
		position: relative
		float: left
		.button-tel
			font-size: 16px
			height: 34px
			line-height: 33px
			padding: 0 15px
			font-weight: 400
			color: #fff
			border-radius: 4px
			display: inline-block
			background: #385a67
			cursor: pointer
			transition: .3s
			&:hover, &:focus, &:active
				background: #2f4650
		a
			color: #fff
			display: inline-block
			margin-left: 5px
		.toggled_block
			position: absolute
			top: 100%
			left: -150px
			z-index: 2
			padding: 13px 15px
			box-shadow: 0 3px 15px rgba(0,0,0,.3)
			width: 400px
			height: auto
			background: #fff
			border: 1px solid #c9c9c9
			border-radius: 4px
			box-sizing: border-box
			display: none
			&:before
				position: absolute
				content: ''
				top: -8px
				left: 50%
				-webkit-transform: translateX(-50%)
				transform: translateX(-50%) rotate(45deg)
				background: #fff
				width: 14px
				height: 14px
				border-top: 1px solid #c9c9c9
				border-left: 1px solid #c9c9c9
			p
				font-size: 15px
			.input-group
				display: block
				margin: 10px 0 5px
			input
				position: relative
				z-index: 1
				border: 1px solid #ccc
				background: #fff
				padding: 5px 10px
				width: 170px
				max-width: 100%
				height: 34px
				font-size: 16px
				line-height: 24px
				border-radius: 4px
				box-shadow: inset 0 1px 5px rgba(0,0,0,.1)
				box-sizing: border-box
			.btn
				text-transform: uppercase
				font-size: 16px
				height: 34px
				line-height: 33px
				padding: 0 15px
				color: #fff
				border-color: #385a67
				background-color: #385a67
				text-align: center
				display: inline-block
				font-weight: 400
				margin-left: -5px
				&:hover, &:focus, &:active
					background: #2f4650
	.discript-map
		h6
			margin-bottom: 10px
			font-size: 18px
			font-weight: bold
			color: #385a67
		.map
			height: 300px
			margin-bottom: 10px
		.address
			margin-bottom: 10px
			ul
				li
					margin-bottom: 5px
					color: #314d58
					font-family: MuseoSansLight
					span
						font-family: MuseoSansBold
					a
						color: #314d58
						border-bottom: 1px dashed #314d58

						
.trener-ankets
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)
.trener-show
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)
.about-human-premium
	margin-bottom: 15px
	.content
		overflow: hidden
		box-shadow: 0 0 8px rgba(0,0,0,.15)
		border: 2px solid #e3e3e3
		padding: 15px 0
		background: rgba(255, 255, 255, 0.9)
		.margin-bottom
			margin-bottom: 15px
			h4
				color: #385a67
				font-weight: bold
				margin-bottom: 10px
			p
				color: #385a67
				font-weight: 300
				margin-bottom: 5px
		.col-md-4
			h4
				color: #385a67
				font-weight: 700
				margin-bottom: 10px

			.cover-right
				ul
					overflow: hidden
					li:hover
						opacity: 0.5
					li
						width: 33%
						margin-bottom: 5%
						float: left
						text-align: center
						position: relative
						overflow: hidden
						a
							position: absolute
							top: 0
							bottom: 0
							right: 0
							left: 0
							z-index: 1
						.img-wrapper
							height: 130px
							width: 130px
							margin: 0 auto
							overflow: hidden
							position: relative
							img
								position: absolute
								top: -9999px
								bottom: -9999px
								right: -9999px
								left: -9999px
								margin: auto
								display: block
								max-width: 100%
		.reklama
			margin: 20px 0
			text-align: center
			a
				display: block
				img
					margin: 0 auto