.seemore
	padding: 15px
	background: rgba(255, 255, 255, 0.9)
	border-bottom: 1px solid #e3e3e3
	&:hover
		background: rgba(245, 245, 245, 1)
	a
		color: #385a67
.b-units-list
	li:hover
		background: rgba(245, 245, 245, 1)
	li
		background: rgba(255, 255, 255, 0.9)
		overflow: hidden
		position: relative
		border-bottom: 1px solid #e3e3e3
		padding: 15px
		a.url-one-unit-list
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
		.img-wrapper
			float: left
			width: 130px
			height: 130px
			margin-right: 20px
			overflow: hidden
			position: relative
			background:  url(../img/logo-preload.jpg) 0 0 no-repeat
			border-radius: 3px
			border: 1px solid #ccc
			img
				position: absolute
				top: -9999px
				bottom: -9999px
				right: -9999px
				left: -9999px
				margin: auto
				display: block
				max-width: 150%
				min-width: 150%
		.title-wrapper
			.delete
				position: absolute
				border-radius: 3px
				top: 10px
				right: 10px
				width: 30px
				height: 30px
				background-color: #c01818
				z-index: 1
				text-align: center
				padding: 5px
				&:hover
					background-color: #a91616
				i
					color: #fff
			.edit
				position: absolute
				top: 10px
				border-radius: 3px
				right: 45px

				width: 30px
				height: 30px
				margin-left: -10px
				background-color: #18c032
				z-index: 1
				text-align: center
				padding: 5px
				&:hover
					background-color: #17ad2e
				i
					color: #fff

			.b-filter_options_with_commas
				position: relative
				height: 20px
				overflow: hidden
				a:hover
					text-decoration: underline !important
				a
					color: #000
				//&:before
				//	position: absolute
				//	content: ''
				//	right: 0
				//	top: 0
				//	bottom: 0
				//	z-index: 1
				//	width: 50px
				//	-webkit-box-shadow: inset -50px 0px 32px -10px rgba(255,255,255,0.90)
				//	-moz-box-shadow: inset -50px 0px 32px -10px rgba(255,255,255,0.90)
				//	box-shadow: inset -50px 0px 32px -10px rgba(255,255,255,0.90)
			h2
				font-family:  MuseoSansBold
				color: #385a67
				font-size: 20px
				margin-bottom: 5px
			.rating-info
				overflow: hidden
				margin: 5px 0
				span.otziv
					float: left
					font-size: 14px
					font-family: MuseoSansLight
					color: #9d9694
					line-height: 24px
				span.like
					float: left
					font-size: 14px
					font-family: MuseoSansLight
					color: #9d9694
					line-height: 24px
				.w-100
					width: 68px
					height: 15px
					float: left
					margin-top: 5px
					margin-left: 10px
					margin-right: 10px
					.rat-t
						background: url(../img/rat-t.png) no-repeat
						height: 15px
						width: 100%
						float: left
						.rat
							background: url(../img/rat.png) no-repeat
							height: 17px
							float: left
			.b-textarea-ckeditor
				font-family: MuseoSansLight
.b-units-service
	background: rgba(255, 255, 255, 0.9)
	padding: 30px 15px
	h3
		text-align: center
		margin-bottom: 15px
		color: #385a67
	ul
		overflow: hidden
		margin-bottom: 20px
		padding-bottom: 20px
		border-bottom: 1px solid #e3e3e3
		li:hover
			.img-wrapper
				border-color: #385a67
		li
			margin-bottom: 15px
			float: left
			width: 50%
			position: relative
			a
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				z-index: 1
			.img-wrapper
				float: left
				overflow: hidden

				margin-right: 15px
				border: 1px solid #ccc
				transition: 0.3s
				border-radius: 50%
				img
			.title-wrapper
				color: #385a67
				h4 
				p 
					