.custom-btn
	background: #416270
	//background: -moz-linear-gradient(top,rgba(152,209,75,1) 0,rgba(125,196,25,1) 100%)
	//background: -webkit-linear-gradient(top,rgba(152,209,75,1) 0,rgba(125,196,25,1) 100%)
	//background: linear-gradient(to bottom,rgba(152,209,75,1) 0,rgba(125,196,25,1) 100%)
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d14b', endColorstr='#7dc419', GradientType=0 )
	text-decoration: none
	color: #fff
	margin: 10px 0
	border-radius: 3px
	display: inline-block
	padding: 13px 60px
	transition: .3s
	opacity: 1
	font-family: PragmaticaLightC-Bold
	outline: none!important
	border: 0!important
	&:hover
		background-color: #2f4650!important
		color: #fff!important
	&:focus
		background-color: #2f4650!important
		color: #fff !important
